params {
  samplesheet    = '.tests/samples.csv'
  fasta          = '.tests/resources/genome.fa'
  gtf            = '.tests/resources/genome.gtf'
  te_gtf         = '.tests/resources/te_annotation.gtf'
  star_index     = null
  star_index_extra = '--genomeSAindexNbases 5'
  sjdb_overhang  = 49
  outdir         = '.tests/results'
}

process {
  withLabel: 'star_index' {
    cpus   = 2
    memory = '2 GB'
    time   = '10m'
  }
  withLabel: 'star_align' {
    cpus   = 2
    memory = '2 GB'
    time   = '10m'
  }
  withLabel: 'samtools' {
    cpus   = 1
    memory = '1 GB'
    time   = '5m'
  }
  withLabel: 'samtools_index' {
    cpus   = 1
    memory = '500 MB'
    time   = '5m'
  }
  withLabel: 'genepred' {
    cpus   = 1
    memory = '500 MB'
    time   = '5m'
  }
  withLabel: 'rseqc' {
    cpus   = 1
    memory = '1 GB'
    time   = '5m'
  }
  withLabel: 'tecount' {
    cpus   = 1
    memory = '2 GB'
    time   = '10m'
  }
  withLabel: 'tetranscripts' {
    cpus   = 1
    memory = '2 GB'
    time   = '10m'
  }
}
